<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Currency Converter{% endblock %}</title>
        {% block stylesheets %}
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
          <link rel="stylesheet" href="css/style.css">
        {% endblock %}
    </head>
    <body>
      <header class="col">
        <nav class="row navbar bg-light">
          <li id="home-item" class="nav-item"><a class="navbar-brand" href="javascript:void(0)"><i class="fas fa-home"></i> Home</a></li>
          <li id="local-file-item" class="nav-item"><a class="nav-link" href="javascript:void(0)">Local File</a></li>
          <li id="external-api-item" class="nav-item"><a class="nav-link" href="javascript:void(0)">External API</a></li>
          <li id="random-item" class="nav-item"><a class="nav-link" href="javascript:void(0)">Random</a></li>
          <li id="settings-item" class="nav-item"><a class="navbar-brand" href="javascript:void(0)"><i class="fas fa-cog"></i> Settings</a></li>
        </nav>
        <span class="row selector"></div>
      </header>
      <main class="container">
      <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
      <div id="main">
        Currency converter. Please select an option above;
      </div>
      </main>
        {% block javascripts %}
           <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
           <script src="js/script.js"></script>
        {% endblock %}
    </body>
</html>
