<div class="container text-center w-65">
  <h4>Settings</h4>
  <div class="currencies">

    {% for key, rate in rates %}

      <div class="d-flex">
        <input class="cur" type="text" name="{{ key }}" value="{{ key }}" placeholder="Currency">
        <input class="curVal ml-4" type="text" name="{{ key }}" value="{{ rate }}" placeholder="Value for 'Local File'">
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>

    {% endfor %}

  </div>
  <div class="d-flex">
    <input type="text" class="cur" placeholder="Currency">
    <input class="ml-4 curVal" type="text" placeholder="Value for 'Local File'">
    <i class="ml-2 fa fa-times" aria-hidden="true"></i>
  </div>
  <div>
    <div class="buttonSettings mt-4 text-left">
      <button class="btn btn-settings btn-add"><i class="fas fa-plus settings-icon"></i> Add</button>
      <button class="btn btn-settings ml-3 btn-sbt"><i class="fas fa-check settings-icon"></i> Submit</button>
    </div>
  </div>
  <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
  <div class="output mt-3"></div>
</div>
<script src="js/settings.js"></script>
